### Range_Function

In [1]:
range(10)

range(0, 10)

In [2]:
print(range(10))

range(0, 10)

In [3]:
type(range(10))

range

In [4]:
list('abc')

['a', 'b', 'c']

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(20,101, 10))

[20, 30, 40, 50, 60, 70, 80, 90, 100]

### For Loops

In [1]:
suits = ['Spades', 'Hearts', 'Diamonds', 'Clubs']

In [2]:
for suit in suits:
    print(f'{suit[0].upper()} = {suit}')

S = Spades
H = Hearts
D = Diamonds
C = Clubs

In [3]:
suit

'Clubs'

In [4]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [5]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

In [6]:
list(range(2, 11, 2))

[2, 4, 6, 8, 10]

In [7]:
for i in range(3):
    for j in range(3):
        print(f'i={i}, j={j}')
    print('-' * 10)

i=0, j=0
i=0, j=1
i=0, j=2
----------
i=1, j=0
i=1, j=1
i=1, j=2
----------
i=2, j=0
i=2, j=1
i=2, j=2
----------

In [4]:
m = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [5]:
for row_index in range(3):
    for column_index in range(3):
        print(f'[{row_index}, {column_index}] = {m[row_index][column_index]}')

[0, 0] = 1
[0, 1] = 2
[0, 2] = 3
[1, 0] = 4
[1, 1] = 5
[1, 2] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9

In [11]:
len(m)

3

In [6]:
len(m[0])

3

In [7]:
len(m[1])
len(m[2])

3

In [1]:
m = [
    [0, 1],
    [2, 3, 4, 5, 6],
    [7, 8, 9], 
    [10]
]

In [2]:
for row_index in range(len(m)):
    for column_index in range(len(m[row_index])):
        print(f'[{row_index}, {column_index}] = {m[row_index][column_index]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

In [4]:
n = 5

matrix = []

for row_index in range(n):
    row = []
    for column_index in range(n):
        if row_index == column_index:
            row.append(1)
        else:
            row.append(0)
        matrix.append(row)

In [5]:
matrix

[[1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [1, 0, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 1, 0, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 1, 0, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 1, 0],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 0, 1]]

In [6]:
data = [10, 20, 30]

In [8]:
list(enumerate(data))

[(0, 10), (1, 20), (2, 30)]

In [9]:
for t in enumerate(data):
    idx, el = t
    print(idx, el)

0 10
1 20
2 30

In [10]:
for idx, el in enumerate(data):
    print(idx, el)

0 10
1 20
2 30

In [11]:
m = [
    [0, 1],
    [2, 3, 4, 5, 6],
    [7, 8, 9],
    [10]
]

In [12]:
for row_index in range(len(m)):
    for column_index in range(len(m[row_index])):
        print(f'[{row_index}, {column_index}] = {m[row_index][column_index]}')

[0, 0] = 0
[0, 1] = 1
[1, 0] = 2
[1, 1] = 3
[1, 2] = 4
[1, 3] = 5
[1, 4] = 6
[2, 0] = 7
[2, 1] = 8
[2, 2] = 9
[3, 0] = 10

In [13]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

In [14]:
count = 0
total = 0
for i in range(len(data)):
    if data[i] is not None:
        count = count + 1
        total = total + data[i]

average = total / count
average

10.75

In [16]:
count = 0
total = 0

for val in data:
    if val is not None:
        count += 1 # count = count + 1
        total += val
average = total / count
average

10.75

In [17]:
for i in range(len(data)):
    if data[i] is None:
        data[i] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [18]:
data = [10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

for index, val in enumerate(data):
    if val is None:
        data[index] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [1]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

count = 0
total = 0 

for i in range(len(data)):
    if data[i] is not None:
        count = count + 1
        total = total + data[i]

average = total / count

for i in range(len(data)):
    if data[i] is None:
        data[i] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [13]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

count = 0
total = 0

for i in range(len(data)):
    print(f'iteration = {i}')
    print(f'Info: count = {count} data = {data[i]} average = {average} total = {total}')
    print(f'data = {data}')
    if data[i] is not None:
        count = count + 1
        total = total + data[i]
        

average = total / count

for i in range(len(data)):
    if data[i] is None:
        data[i] = average
        

data

iteration = 0
Info: count = 0 data = 10.5 average = 10.75 total = 0
data = [10.5, 11.2, 9.8, None, 11.5, None]
iteration = 1
Info: count = 1 data = 11.2 average = 10.75 total = 10.5
data = [10.5, 11.2, 9.8, None, 11.5, None]
iteration = 2
Info: count = 2 data = 9.8 average = 10.75 total = 21.7
data = [10.5, 11.2, 9.8, None, 11.5, None]
iteration = 3
Info: count = 3 data = None average = 10.75 total = 31.5
data = [10.5, 11.2, 9.8, None, 11.5, None]
iteration = 4
Info: count = 3 data = 11.5 average = 10.75 total = 31.5
data = [10.5, 11.2, 9.8, None, 11.5, None]
iteration = 5
Info: count = 4 data = None average = 10.75 total = 43.0
data = [10.5, 11.2, 9.8, None, 11.5, None]

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [22]:
count = 0
total = 0

for val in data:
    if val is not None:
        count += 1
        total += val
average = total / count

for index, val in enumerate(data):
    if val is None:
        data[index] = average

data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [23]:
data = [10.5, 11.2, 9.8, None, 11.5, None]

count = sum(1 for val in data if val is not None)
total = sum(val for val in data if val is not None)
average = total / count
data = [val if val is not None else average for val in data]
print(data)

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [24]:
from statistics import fmean

In [25]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
average = fmean(val for val in data if val is not None)
data = [val if val is not None else average for val in data]
data

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [26]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
average = fmean(val for val in data if val is not None)
data2 = [val if val is not None else average for val in data]
data

[10.5, 11.2, 9.8, None, 11.5, None]

In [27]:
data2

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [28]:
import pandas as pd

In [35]:
data = [10.5, 11.2, 9.8, None, 11.5, None]
df = pd.DataFrame(data)
df.fillna(df.mean(), inplace=True)
df[0].tolist()

[10.5, 11.2, 9.8, 10.75, 11.5, 10.75]

In [36]:
df

       0
0  10.50
1  11.20
2   9.80
3  10.75
4  11.50
5  10.75

### While Loops

In [7]:
price = 100

while price > 90:
    print(f'price = {price} - waiting for price to come down...')
    price -= 1

print(f'buying at {price}')

price = 100 - waiting for price to come down...
price = 99 - waiting for price to come down...
price = 98 - waiting for price to come down...
price = 97 - waiting for price to come down...
price = 96 - waiting for price to come down...
price = 95 - waiting for price to come down...
price = 94 - waiting for price to come down...
price = 93 - waiting for price to come down...
price = 92 - waiting for price to come down...
price = 91 - waiting for price to come down...
buying at 90

In [27]:
while_data = [100, 200, 300, 400, 500]

In [20]:
while_data

[]

In [28]:
print(f'before removing element: data = {while_data}')
while len(while_data) > 0:
    print(f'-' * 15)
    last_element = while_data.pop()
    print(f'processing element(element removed): {last_element}')
    print(f'after removing element: data = {while_data}')

before removing element: data = [100, 200, 300, 400, 500]
---------------
processing element(element removed): 500
after removing element: data = [100, 200, 300, 400]
---------------
processing element(element removed): 400
after removing element: data = [100, 200, 300]
---------------
processing element(element removed): 300
after removing element: data = [100, 200]
---------------
processing element(element removed): 200
after removing element: data = [100]
---------------
processing element(element removed): 100
after removing element: data = []

In [37]:
data = [100, 200, 300, 400, 500]

In [38]:


for i in range(len(data)):
    print(f'i = {i}')
    print(f'before removing element: data = {data}')
    element = data.pop(i)
    print(f'processing element: {element}')
    print(f'after removing element: data = {data}')
    print(f'-' * 10)

i = 0
before removing element: data = [100, 200, 300, 400, 500]
processing element: 100
after removing element: data = [200, 300, 400, 500]
----------
i = 1
before removing element: data = [200, 300, 400, 500]
processing element: 300
after removing element: data = [200, 400, 500]
----------
i = 2
before removing element: data = [200, 400, 500]
processing element: 500
after removing element: data = [200, 400]
----------
i = 3
before removing element: data = [200, 400]

IndexError: pop index out of range

### Continue, Break and Else

In [37]:
for i in range(100):
    print(i)
    if i >= 5:
        print('breaking out of loop')
        break
print('done')

0
1
2
3
4
5
breaking out of loop
done

In [42]:
for i in range(1, 11):
    if i % 2 == 1:
        # odd number
        continue
    print(i)

2
4
6
8
10

In [43]:
for i in range(1, 11):
    if i % 2 == 0:
        # even number
        print(i)

2
4
6
8
10

In [106]:

for i in range(1, 5):
    # print(f'(iteration = {i})')
    for j in range(1, 5):
        # print(f'-' * 15)
        # print(f'i = {i} ///////  j = {j}')
        # print((i + j) % 2)
        if (i + j) % 2 == 1:
            print(f'{i} + {j} is odd, skipping...')
            print(f'(REJECTED = {i + j} / 2 = {(i + j) / 2})')
            print(f'-' * 30)
            continue
        print(f'adding numbers: {i} + {j} = {i + j}')
        print(f'i = {i} j = {j}')
        print(f'(APPROVED = {i + j} / 2 = {(i + j) / 2})')
        print(f'-' * 30)
    print(f'iteration = {i}')
    print(f'-' * 20)

adding numbers: 1 + 1 = 2
i = 1 j = 1
(APPROVED = 2 / 2 = 1.0)
------------------------------
1 + 2 is odd, skipping...
(REJECTED = 3 / 2 = 1.5)
------------------------------
adding numbers: 1 + 3 = 4
i = 1 j = 3
(APPROVED = 4 / 2 = 2.0)
------------------------------
1 + 4 is odd, skipping...
(REJECTED = 5 / 2 = 2.5)
------------------------------
iteration = 1
--------------------
2 + 1 is odd, skipping...
(REJECTED = 3 / 2 = 1.5)
------------------------------
adding numbers: 2 + 2 = 4
i = 2 j = 2
(APPROVED = 4 / 2 = 2.0)
------------------------------
2 + 3 is odd, skipping...
(REJECTED = 5 / 2 = 2.5)
------------------------------
adding numbers: 2 + 4 = 6
i = 2 j = 4
(APPROVED = 6 / 2 = 3.0)
------------------------------
iteration = 2
--------------------
adding numbers: 3 + 1 = 4
i = 3 j = 1
(APPROVED = 4 / 2 = 2.0)
------------------------------
3 + 2 is odd, skipping...
(REJECTED = 5 / 2 = 2.5)
------------------------------
adding numbers: 3 + 3 = 6
i = 3 j = 3
(APPROVED = 6 / 2 = 3.0)
------------------------------
3 + 4 is odd, skipping...
(REJECTED = 7 / 2 = 3.5)
------------------------------
iteration = 3
--------------------
4 + 1 is odd, skipping...
(REJECTED = 5 / 2 = 2.5)
------------------------------
adding numbers: 4 + 2 = 6
i = 4 j = 2
(APPROVED = 6 / 2 = 3.0)
------------------------------
4 + 3 is odd, skipping...
(REJECTED = 7 / 2 = 3.5)
------------------------------
adding numbers: 4 + 4 = 8
i = 4 j = 4
(APPROVED = 8 / 2 = 4.0)
------------------------------
iteration = 4
--------------------

In [103]:
for i in range(1, 4):
    for j in range(1, 4):
        if j >= 3:
            break
        print(i, j)
    print('-' * 10)

1 1
1 2
----------
2 1
2 2
----------
3 1
3 2
----------

In [107]:
i = 0

while True:
    i += 1
    if i > 5:
        break
    print(i)

1
2
3
4
5

In [108]:
data = [1, 2, 3, -4, 5, 6]

all_positive = True

for element in data:
    if element <= 0:
        all_positive = False
        break

if all_positive:
    print('processing all positive elements')

In [109]:
all_positive

False

In [110]:
for i in range(5):
    print(i)
    if i > 3:
        break
else: # no break
    print('loop terminated normally (no break)')

0
1
2
3
4

In [111]:
data = [1, 2, 3, -4, 5, 6]

all_positive = True

for element in data:
    if element < 0:
        break

if all_positive:
    print('processing all positive elements')

processing all positive elements