#### Load the dataset as a Pandas data frame

In [70]:
import pandas as pd
import numpy as np

In [71]:
pd.set_option("display.max_rows", None, "display.max_columns", None)
pd.set_option('display.max_colwidth', 100)

In [72]:
df_video_games = pd.read_csv('Video_Games_Sales_as_at_22_Dec_2016.csv')

#### Display the first ten rows of data.

In [73]:
df_video_games.head(10)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN
5,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26,NaN,NaN,NaN,NaN,NaN,NaN
6,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.28,9.14,6.50,2.88,29.80,89.0,65.0,8.5,431.0,Nintendo,E
7,Wii Play,Wii,2006.0,Misc,Nintendo,13.96,9.18,2.93,2.84,28.92,58.0,41.0,6.6,129.0,Nintendo,E
8,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.44,6.94,4.70,2.24,28.32,87.0,80.0,8.4,594.0,Nintendo,E
9,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31,NaN,NaN,NaN,NaN,NaN,NaN

#### Find the dimensions (number of rows and columns) in the data frame. What do these two numbers represent in the context of the data?

In [74]:
num_rows = len(df_video_games) # Number of rows
num_columns = len(df_video_games.columns) # Number of Columns
print(f'Rows: {num_rows} Columns: {num_columns} ')
df_video_games.shape # Number of rows and columns
df_video_games.info() # Index, Column, Non-null count, Data Type

Rows: 16719 Columns: 16
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16719 entries, 0 to 16718
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16717 non-null  object
 1   Platform         16719 non-null  object
 2   Year_of_Release  16450 non-null  float64
 3   Genre            16717 non-null  object
 4   Publisher        16665 non-null  object
 5   NA_Sales         16719 non-null  float64
 6   EU_Sales         16719 non-null  float64
 7   JP_Sales         16719 non-null  float64
 8   Other_Sales      16719 non-null  float64
 9   Global_Sales     16719 non-null  float64
 10  Critic_Score     8137 non-null   float64
 11  Critic_Count     8137 non-null   float64
 12  User_Score       10015 non-null  object
 13  User_Count       7590 non-null   float64
 14  Developer        10096 non-null  object
 15  Rating           9950 non-null   object
dtypes: float64(9), object(7)
memory usage: 2.0+ MB

#### Find the top five games by critic score.

In [75]:
# df_sorted = df_video_games.sort_values(by='Critic_Score', ascending=False)
# df_sorted.head(5)
# df_video_games.fillna(0, inplace=True)
# critic_score = df_video_games['Critic_Score'].values
# game_name = df_video_games['Name'].values
# l_gname = list(game_name)
# l_cscore = list(critic_score)
df_sorted = df_video_games.sort_values(by='Critic_Score', ascending=False).head(5)
print(df_sorted[['Name', 'Critic_Score'][0:5]])

                          Name  Critic_Score
227   Tony Hawk's Pro Skater 2          98.0
57         Grand Theft Auto IV          98.0
51         Grand Theft Auto IV          98.0
5350               SoulCalibur          98.0
165         Grand Theft Auto V          97.0

In [76]:
# def filt_score(seq):
#     return [v for v in seq if v > 0]

In [77]:
# filtered_list = list(filt_score(critic_score))

In [78]:
# filtered_list.sort(reverse=True)
# filtered_list

#### Find the number of video games in the data frame in each genre.

In [79]:
# df_video_games[['Name', 'Genre']].sort_values(by='Genre')
print(df_video_games['Genre'].value_counts())
genre_list = list(df_video_games['Genre'].value_counts())
action = genre_list[0]
sports = genre_list[1]
misc = genre_list[2]
roleplaying = genre_list[3]
shooter = genre_list[4]
adventure = genre_list[5]
racing = genre_list[6]
platform = genre_list[7]
simulation = genre_list[8]
fighting = genre_list[9]
strategy = genre_list[10]
puzzle = genre_list[11]
print(f'There are {action} action, {sports} sports, {misc} misc, {roleplaying} roleplaying, {shooter} shooter, {adventure} adventure, {racing} racing, {platform} platform, {simulation} simulation, {fighting} fighting, {strategy} strategy and {puzzle} puzzle games in each genre.')

Action          3370
Sports          2348
Misc            1750
Role-Playing    1500
Shooter         1323
Adventure       1303
Racing          1249
Platform         888
Simulation       874
Fighting         849
Strategy         683
Puzzle           580
Name: Genre, dtype: int64
There are 3370 action, 2348 sports, 1750 misc, 1500 roleplaying, 1323 shooter, 1303 adventure, 1249 racing, 888 platform, 874 simulation, 849 fighting, 683 strategy and 580 puzzle games in each genre.

#### Find the first five games in the data frame on the SNES platform.

In [80]:
# df_video_games[['Name', 'Platform']]

#### Find the five publishers with the highest total global sales. Note: You will need to calculate the total global sales for each publisher to do this.

#### Create a new column in the data frame that calculates the percentage of global sales from North America. Display the first five rows of the new data

#### Find the number NaN entries (missing data values) in each column.

#### Try to calculate the median user score of all the video games. You will likely run into an error because some of the user score entries are a non-numerical
#### string that cannot be converted to a float. Find and replace this string with NaN and then calculate the median. Then, replace all NaN entries in the user
#### score column with the median value.