### Python Basics Section 03

In [24]:
##Format
value = 1.1 ** 2.2
format(value, '.5f') ## Value to format, decimal point

'1.23329'

In [25]:
## Absolute
print(abs(value)) ## Returns absolute value of integer, remove negative sign from number (all numbers as positive)
print(abs(-25))

1.2332863005546628
25

In [26]:
## __add__() method
(125).__add__(15)

140

In [27]:
## as_integer_ratio() method
(.25).as_integer_ratio() ## 1/4

(1, 4)

In [28]:
import pandas as pd

In [29]:
## float
test_int = 156
float(test_int)

156.0

In [30]:
## range() return object that is a sequence of integers
test_range = range(0, 10)
test_range
for index in test_range:
    print(index)

0
1
2
3
4
5
6
7
8
9

In [31]:
## id() create unique identities for pre-existing objects
a = 150
b = 100

In [32]:
id(a), id(b)

(1999231147024, 1999231145424)

### Condition Execution Section 04

In [33]:
## if, elif example
grade = 95
if grade >= 90:
    letter_grade = 'A'
    print(f'passed with distinction, Grade = {grade}')
elif grade >= 80:
    letter_grade = 'B'
    print(f'passed, Grade = {grade}')
elif grade >= 70:
    letter_grade = 'C'
    print(f'passed, Grade = {grade}')
elif grade >= 60:
    letter_grade = 'D'
    print(f'passed, Grade = {grade}')
elif grade >= 50:
    letter_grade = 'F'
    print(f'failed, Grade = {grade}')

print(letter_grade)

passed with distinction, Grade = 95
A

### Sequence Types Section 05 (Lists, Tuples, Strings, Slicing)

In [34]:
test_list = [1, 'two', 3, 'four', 5]
l2 = list([1, 'two', 3, 'four', 5])
l3 = list('hey') # One argument allowed
print(test_list, l2, l3)

[1, 'two', 3, 'four', 5] [1, 'two', 3, 'four', 5] ['h', 'e', 'y']

In [35]:
test_tuple = (1, 2, 3, 4, 5, 'six')
t2 = tuple('hey') # One argument allowed
print(test_tuple, t2)

(1, 2, 3, 4, 5, 'six') ('h', 'e', 'y')

In [36]:
test_string = ('This is a test')
str2 = str('This is a test')
str3 = str('this') # One argument allowed
print(test_string, str2)

This is a test This is a test

### Pandas Library

In [37]:
import pandas as pd

In [38]:
pd_methods = dir(pd)

In [39]:
type(pd_methods)

list

In [40]:
type(pd_methods)

list

In [41]:
df_pd_methods = pd.DataFrame(pd_methods)

In [42]:
df_methods = pd.DataFrame()
df_methods['Method Name'] = pd.DataFrame(pd_methods)

### List Comprehensions

In [4]:
m = [[1 if row == col else 0 for col in range(3)] for row in range(3)]
m

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]

In [2]:
m = [[0] * 3 for _ in range(3)]

for row in range(3):
    for col in range(3):
        if row == col:
            m[row][col] = 1

m

[[1, 0, 0], [0, 1, 0], [0, 0, 1]]