In [1]:
s1 = set('abc')
s2 = (True, False)
s3 = ('a', 100, 200)

In [2]:
s1.isdisjoint(s2)

True

In [3]:
s1

{'a', 'b', 'c'}

In [4]:
s2

(True, False)

In [5]:
s3

('a', 100, 200)

In [6]:
s1.isdisjoint(s3)

False

In [7]:
s = set()

In [8]:
s

set()

In [9]:
s.add(100)

In [10]:
s

{100}

In [11]:
s.add(200)

In [12]:
s

{100, 200}

In [13]:
s.add(200)

In [14]:
s

{100, 200}

In [16]:
s = set('abc')

In [17]:
s

{'a', 'b', 'c'}

In [18]:
s.remove('a')

In [19]:
s

{'b', 'c'}

In [20]:
s.discard('b')

In [21]:
s

{'c'}

In [22]:
s.discard('x')

In [23]:
s

{'c'}

In [24]:
s.remove('x')

KeyError: 'x'

In [25]:
s

{'c'}

In [33]:
s1 = range[0,50]

TypeError: 'type' object is not subscriptable

In [39]:
range(1, 3)

range(1, 3)

In [45]:
s = list(range(10))

In [46]:
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
s2 = list(range(100, 500, 100))

In [50]:
s2

[100, 200, 300, 400]

In [51]:
s1 | s2

TypeError: unsupported operand type(s) for |: 'set' and 'list'

In [52]:
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
s1

{'a', 'b', 'c'}

In [54]:
s | s2

TypeError: unsupported operand type(s) for |: 'list' and 'list'

In [55]:
s

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
s2

[100, 200, 300, 400]

In [58]:
s & s2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [59]:
s, s2

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [100, 200, 300, 400])

In [60]:
t1 = tuple(s)

In [61]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [64]:
t2 = tuple(s2)

In [66]:
t2

(100, 200, 300, 400)

In [67]:
t1 | t2

TypeError: unsupported operand type(s) for |: 'tuple' and 'tuple'

In [68]:
set_01 = set(t1)

In [69]:
set_01

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [70]:
set_02 = set(t2)

In [71]:
set_01 | set_02

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300, 400}

In [72]:
set_01 & set_02

set()

In [73]:
s1 = {'FB', 'AMZN', 'AAPL', 'NFLX', 'GOOG', 'MSFT'}
s2 = {'BABA', 'WMT', 'COST'}
s3 = {'TSLA', 'F', 'GM'}

In [74]:
consolidated = s1 | s2 | s3

In [75]:
consolidated

{'AAPL',
 'AMZN',
 'BABA',
 'COST',
 'F',
 'FB',
 'GM',
 'GOOG',
 'MSFT',
 'NFLX',
 'TSLA',
 'WMT'}

In [77]:
consolidated = list(s1 | s2 | s3)

In [78]:
consolidated

['GOOG',
 'BABA',
 'TSLA',
 'NFLX',
 'COST',
 'F',
 'WMT',
 'AAPL',
 'AMZN',
 'FB',
 'MSFT',
 'GM']

In [85]:
sold = {'w1', 'w2', 'w3', 'w4'}

In [86]:
returned = {'w1'}

In [87]:
non_returned = sold - returned

In [88]:
non_returned

{'w2', 'w3', 'w4'}

In [89]:
alphabet = ('abcdefghijklmnopqrstuvwxyz')

In [90]:
import string

In [91]:
string.ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [92]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [93]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [94]:
7string

SyntaxError: invalid syntax (1624548375.py, line 1)

In [96]:
string.info()

AttributeError: module 'string' has no attribute 'info'

In [97]:
? string

Type:        module
String form: <module 'string' from 'c:\\Users\\light\\anaconda3\\lib\\string.py'>
File:        c:\users\light\anaconda3\lib\string.py
Docstring:
A collection of string constants.

Public module variables:

whitespace -- a string containing all ASCII whitespace
ascii_lowercase -- a string containing all ASCII lowercase letters
ascii_uppercase -- a string containing all ASCII uppercase letters
ascii_letters -- a string containing all ASCII letters
digits -- a string containing all ASCII decimal digits
hexdigits -- a string containing all ASCII hexadecimal digits
octdigits -- a string containing all ASCII octal digits
punctuation -- a string containing all ASCII punctuation characters
printable -- a string containing all ASCII characters considered printable

In [98]:
? pandas

Object ` pandas` not found.

In [99]:
import pandas as pd

In [103]:
dir(string)

['Formatter',
 'Template',
 '_ChainMap',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_re',
 '_sentinel_dict',
 '_string',
 'ascii_letters',
 'ascii_lowercase',
 'ascii_uppercase',
 'capwords',
 'digits',
 'hexdigits',
 'octdigits',
 'printable',
 'punctuation',
 'whitespace']

In [104]:
alphabet  = set(string.ascii_letters)

In [105]:
alphabet

{'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [106]:
text = 'The quick brown fox jumps over the lazy dog'

In [107]:
text

'The quick brown fox jumps over the lazy dog'

In [110]:
text = 'abcdefghijklmnopqrstuv'

In [111]:
set(string.ascii_letters.casefold()) - set(text.casefold())

{'w', 'x', 'y', 'z'}

In [112]:
alphabet_keys = string.ascii_letters

In [115]:
list(alphabet_keys)

['a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z',
 'A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [116]:
ord(list(alphabet_keys))

TypeError: ord() expected string of length 1, but list found

In [117]:
counts = {}
for c in alphabet_keys:
    if (ord(c) >= ord('a') and ord(c) <= ord('z')) or (ord(c) >= ord('A') and ord(c) <= ord('Z')):
        counts[c] = counts.get(c, 0) + 1

In [118]:
counts

{'a': 1,
 'b': 1,
 'c': 1,
 'd': 1,
 'e': 1,
 'f': 1,
 'g': 1,
 'h': 1,
 'i': 1,
 'j': 1,
 'k': 1,
 'l': 1,
 'm': 1,
 'n': 1,
 'o': 1,
 'p': 1,
 'q': 1,
 'r': 1,
 's': 1,
 't': 1,
 'u': 1,
 'v': 1,
 'w': 1,
 'x': 1,
 'y': 1,
 'z': 1,
 'A': 1,
 'B': 1,
 'C': 1,
 'D': 1,
 'E': 1,
 'F': 1,
 'G': 1,
 'H': 1,
 'I': 1,
 'J': 1,
 'K': 1,
 'L': 1,
 'M': 1,
 'N': 1,
 'O': 1,
 'P': 1,
 'Q': 1,
 'R': 1,
 'S': 1,
 'T': 1,
 'U': 1,
 'V': 1,
 'W': 1,
 'X': 1,
 'Y': 1,
 'Z': 1}

In [119]:
alphabet_keys

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [120]:
alphabet_keys = list(string.ascii_letters)

In [121]:
import pandas as pd

In [122]:
df_alphabet = pd.DataFrame()

In [123]:
df_alphabet

Empty DataFrame
Columns: []
Index: []

In [124]:
df_alphabet['Character'] = alphabet_keys

In [131]:
for c in alphabet_keys:
    print(ord(c))

97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90

In [133]:
alph_keys = [97,
98,
99,
100,
101,
102,
103,
104,
105,
106,
107,
108,
109,
110,
111,
112,
113,
114,
115,
116,
117,
118,
119,
120,
121,
122,
65,
66,
67,
68,
69,
70,
71,
72,
73,
74,
75,
76,
77,
78,
79,
80,
81,
82,
83,
84,
85,
86,
87,
88,
89,
90]

In [135]:
df_alphabet['Keys'] = alph_keys

In [137]:
pd.ExcelFile = df_alphabet

In [139]:
import xlsxwriter

In [140]:
alphkeys = xlsxwriter.Workbook(df_alphabet)

In [143]:
df_alphabet.to_excel(r"C:\Users\light\OneDrive\Desktop\alphkeys.xlsx")