In [1]:
d = {'a': 1, 'b': 2, 'c': 3}

In [2]:
d

{'a': 1, 'b': 2, 'c': 3}

In [3]:
person = {
    'first_nanme': 'Eric',
    'last_name': 'Idle',
    'year_born': 2016,
}

In [5]:
person['year_born']

2016

In [6]:
t = (1, 2, 3, 4)

In [11]:
hash(t)

590899387183067792

In [13]:
globals()['person']

{'first_nanme': 'Eric', 'last_name': 'Idle', 'year_born': 2016}

In [14]:
d = {
    'key 1': 1, 
    'key 2': 2,
    3.14: 'pi'
}

In [15]:
for k in d:
    print(k)

key 1
key 2
3.14

In [16]:
for k in d:
    print(f'd[{k}] = {d[k]}')

d[key 1] = 1
d[key 2] = 2
d[3.14] = pi

In [17]:
for k in d:
    print(d[k])

1
2
pi

In [19]:
for v in d.values():
    print(v)

1
2
pi

In [25]:
for key, value in d.items():
    # key, value = t # UNPACKING
    print(f'd[{key}] = {value}')

d[key 1] = 1
d[key 2] = 2
d[3.14] = pi

In [26]:
d['x'] = 100

In [27]:
d

{'key 1': 1, 'key 2': 2, 3.14: 'pi', 'x': 100}

In [28]:
for k in d:
    print(k)

key 1
key 2
3.14
x

In [32]:
del d['key 1']

In [33]:
d

{'key 2': 2, 3.14: 'pi', 'x': 100}

In [34]:
d['key 1'] = 100

In [35]:
for k in d:
    print(k)

key 2
3.14
x
key 1

In [45]:
data = {
    'open': 100, 
    'high': 110,
    'low': 95,
    'close': 110,
    3.14: 'pi'
}

In [46]:
'open' in data

True

In [47]:
3.14 in data

True

In [87]:
data.clear()

In [88]:
data

{}

In [89]:
data = {
    'open': 100, 
    'high': 110,
    'low': 95,
    'close': 110
}

In [90]:
len(data)

4

In [92]:
data_copy = data.copy()
data

{'open': 100, 'high': 110, 'low': 95, 'close': 110}

In [93]:
data_copy

{'open': 100, 'high': 110, 'low': 95, 'close': 110}

In [94]:
data is data_copy

False

In [95]:
data_copy['x'] = 100

In [96]:
data_copy

{'open': 100, 'high': 110, 'low': 95, 'close': 110, 'x': 100}

In [97]:
data

{'open': 100, 'high': 110, 'low': 95, 'close': 110}

In [98]:
from copy import deepcopy

In [99]:
data_copy = deepcopy(data)

In [100]:
data_copy is data

False

In [107]:
d = {
    'a': [1, 2, 3,],
    'b': {
        'x': 0,
        'y': 0
    }
}

In [102]:
d_copy = d.copy()

In [103]:
d_copy is d

False

In [104]:
d['b'] = 100

In [105]:
d

{'a': [1, 2, 3], 'b': 100}

In [106]:
d_copy

{'a': [1, 2, 3], 'b': {'x': 0, 'y': 0}}

In [108]:
d, d_copy

({'a': [1, 2, 3], 'b': {'x': 0, 'y': 0}},
 {'a': [1, 2, 3], 'b': {'x': 0, 'y': 0}})

In [109]:
d['a'].append(4)

In [110]:
d

{'a': [1, 2, 3, 4], 'b': {'x': 0, 'y': 0}}

In [112]:
d_copy

{'a': [1, 2, 3], 'b': {'x': 0, 'y': 0}}

In [113]:
d_copy = deepcopy(d)

In [114]:
d

{'a': [1, 2, 3, 4], 'b': {'x': 0, 'y': 0}}

In [115]:
d_copy['a'].append(5)

In [116]:
d_copy

{'a': [1, 2, 3, 4, 5], 'b': {'x': 0, 'y': 0}}

In [117]:
d

{'a': [1, 2, 3, 4], 'b': {'x': 0, 'y': 0}}

In [118]:
d = dict(a=1, b=2)

In [119]:
d

{'a': 1, 'b': 2}

In [120]:
d = dict(3.14 = 'even')

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (736618522.py, line 1)

In [126]:
d = dict.fromkeys(['open','high', 'low', 'close'], 10)

In [127]:
d

{'open': 10, 'high': 10, 'low': 10, 'close': 10}

In [128]:
d = dict.fromkeys(['a', 'a'], 100)

In [129]:
d

{'a': 100}

In [130]:
symbols = {'AAPL', 'MSFT', 'AAPL', 'MSFT'}

In [131]:
d = dict.fromkeys(symbols, 0)

In [132]:
d

{'AAPL': 0, 'MSFT': 0}

In [133]:
list(d)

['AAPL', 'MSFT']

In [134]:
d

{'AAPL': 0, 'MSFT': 0}

In [135]:
d = dict.fromkeys('Python is an awesome language!', 0)

In [136]:
d

{'P': 0,
 'y': 0,
 't': 0,
 'h': 0,
 'o': 0,
 'n': 0,
 ' ': 0,
 'i': 0,
 's': 0,
 'a': 0,
 'w': 0,
 'e': 0,
 'm': 0,
 'l': 0,
 'g': 0,
 'u': 0,
 '!': 0}

In [137]:
d1 = {}

In [139]:
d2 = dict()

In [140]:
d1, d2

({}, {})

In [141]:
transactions = [
    {'item': 'widget', 'trans_type': 'sale', 'quantity': 10},
    {'item': 'widget', 'trans_type': 'sale', 'quantity': 5},
    {'item': 'widget', 'trans_type': 'refund', 'quantity': 2},
    {'item': 'license', 'trans_type': 'sale', 'quantity': 1},
    {'item': 'license', 'trans_type': 'sale', 'quantity': 1},
    {'item': 'license', 'trans_type': 'refund', 'quantity': 1},
]

In [146]:
total_sold = {}

for transaction in transactions:
    item = transaction['item']
    is_sale = True if transaction['trans_type'] == 'sale' else False
    quantity = transaction['quantity']

    if is_sale:
        if item in total_sold:
            total_sold[item] += quantity
        else:
            total_sold[item] = quantity

total_sold

{'widget': 15, 'license': 2}

In [145]:
net_sales = {}

for transaction in transactions:
    item = transaction['item']
    is_sale = True if transaction['trans_type'] == 'sale' else False
    quantity = transaction['quantity']

    if not is_sale:
        quantity = -quantity

    if item in net_sales:
        net_sales[item] += quantity
    else:
        net_sales[item] = quantity

net_sales

{'widget': 13, 'license': 1}

In [153]:
total_sold = {}

for transaction in transactions:
    item = transaction['item']
    is_sale = True if transaction['trans_type'] == 'sale' else False
    quantity = transaction['quantity']

    if is_sale:
        if not item in total_sold:
            total_sold[item] = 0
        total_sold[item] += quantity

total_sold

{'widget': 15, 'license': 2}

In [158]:
total_sold = {'widget': 10}

total_sold.get('widget', 0)

10

In [160]:
total_sold = {}

for transaction in transactions:
    item = transaction['item']
    is_sale = True if transaction['trans_type'] == 'sale' else False
    quantity = transaction['quantity']

    if is_sale:
        total_sold[item] = total_sold.get(item, 0) + quantity

total_sold

{'widget': 15, 'license': 2}

In [164]:
net_sales = {}

for transaction in transactions:
    item = transaction['item']
    is_sale = True if transaction['trans_type'] == 'sale' else False
    quantity = transaction['quantity']

    if not is_sale:
        quantity = -quantity

    net_sales[item] = net_sales.get(item, 0) + quantity

In [165]:
net_sales

{'widget': 13, 'license': 1}

In [166]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

In [167]:
combined = {'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [168]:
d1.update(d2)

In [169]:
d1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [170]:
d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}

In [171]:
d2.update(d1)

In [172]:
d2

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [31]:
d1 = 'Hi my name is Colin and I am 35 years old.  I am 5 foot 9 inches tall and weigh 145 pounds'

In [32]:
d1

'Hi my name is Colin and I am 35 years old.  I am 5 foot 9 inches tall and weigh 145 pounds'

In [29]:
ord('a'), ord('z')

(97, 122)

In [41]:
count = {}
for c in d1:
    print(c)
    print('Iteration:')
    if (ord(c) >= ord('a') and ord(c) <= ord('z')) or (ord(c) >= ord('A') and ord(c) <= ord('Z')):
        count[c] = count.get(c, 0) + 1

count

H
Iteration:
i
Iteration:

Iteration:
m
Iteration:
y
Iteration:

Iteration:
n
Iteration:
a
Iteration:
m
Iteration:
e
Iteration:

Iteration:
i
Iteration:
s
Iteration:

Iteration:
C
Iteration:
o
Iteration:
l
Iteration:
i
Iteration:
n
Iteration:

Iteration:
a
Iteration:
n
Iteration:
d
Iteration:

Iteration:
I
Iteration:

Iteration:
a
Iteration:
m
Iteration:

Iteration:
3
Iteration:
5
Iteration:

Iteration:
y
Iteration:
e
Iteration:
a
Iteration:
r
Iteration:
s
Iteration:

Iteration:
o
Iteration:
l
Iteration:
d
Iteration:
.
Iteration:

Iteration:

Iteration:
I
Iteration:

Iteration:
a
Iteration:
m
Iteration:

Iteration:
5
Iteration:

Iteration:
f
Iteration:
o
Iteration:
o
Iteration:
t
Iteration:

Iteration:
9
Iteration:

Iteration:
i
Iteration:
n
Iteration:
c
Iteration:
h
Iteration:
e
Iteration:
s
Iteration:

Iteration:
t
Iteration:
a
Iteration:
l
Iteration:
l
Iteration:

Iteration:
a
Iteration:
n
Iteration:
d
Iteration:

Iteration:
w
Iteration:
e
Iteration:
i
Iteration:
g
Iteration:
h
Iteration:

Iteration:
1
Iteration:
4
Iteration:
5
Iteration:

Iteration:
p
Iteration:
o
Iteration:
u
Iteration:
n
Iteration:
d
Iteration:
s
Iteration:

{'H': 1,
 'i': 5,
 'm': 4,
 'y': 2,
 'n': 6,
 'a': 7,
 'e': 4,
 's': 4,
 'C': 1,
 'o': 5,
 'l': 4,
 'd': 4,
 'I': 2,
 'r': 1,
 'f': 1,
 't': 2,
 'c': 1,
 'h': 2,
 'w': 1,
 'g': 1,
 'p': 1,
 'u': 1}