I need the script/formula to pull the following information.

Formula Script1

If TABLE1  D2 = 2 then find all instances of 2 in TABLE2 Column G and list in TABLE1 cell E2 all references from Column B seperated by a comma.

Example below:

So if Table1 D2 = 2
TABLE2 Column G contains 3 instances = 2.
Reference from Column B are "Apple" "Orange" "Banana" then the result in TABLE1 cell E2 = Apple,Orange,Banana

----

Formula 2

In TABLE1 there are 10 columns with headers.

If TABLE1 Row B, Column H to AG, whichever columns have data within them then list header data from Row A in TABLE1 cell F2 seperated by commas.

Example Below:

TABLE1 Row B has data in Column X,Y & Z.
The headers in row X, Y, Z are "Fruit" "Cheese" "Bread"
Then in cell B2 the result would = Fruit, Cheese, Bread

If Row C has data from Column G,Y & Z
The headers in row G & Y are "Shoes" "Cheese"
Then in cell C2 the result would = Shoes, Cheese

Hope that makes sense. Any questions let me know.

Required quickly.  Prefer formula over script but ok either way.

In [21]:
import pandas as pd
import tabulate
from prettytable import PrettyTable

In [29]:
myTable = PrettyTable(['Name', 'Class', 'Section'])

myTable.add_row(['Colin', 'Data Science', 'Computer Engineering'])

In [30]:
myTable

+-------+--------------+----------------------+
|  Name |    Class     |       Section        |
+-------+--------------+----------------------+
| Colin | Data Science | Computer Engineering |
+-------+--------------+----------------------+